

:root {
  --back-body: hsla(187, 34%, 42%, 1);
  --back-main: none;
  --back-second: hsla(0, 0%, 30%, 0.3);
  --back-third: hsla(0, 0%, 30%, 0.6);
  --back-fourth: hsla(0, 0%, 0%, 0.5);
  --back-very-dark: hsla(0, 0%, 7%, 0.7);

  --text-title: hsl(206, 100%, 63%);
  --text-title-l: 	hsl(206, 100%, 83%);
  --text-title-m: hsl(206, 100%, 63%);
  --text-title-d: hsl(206, 100%, 43%);
  --text-block: 	hsl(206, 100%, 63%);
  --text-block-d: hsl(206, 100%, 43%);
  --text-block-m: 	hsl(206, 100%, 63%);
  --text-block-l: hsl(206, 100%, 83%);

  --icon: hsla(0, 0%, 63%, 0.4);
  --icon-medium-dark: hsla(0, 0%, 16%, 0.4);
  --icon-dark: hsla(0, 0%, 16%, 0.55);
  --icon-vary-dark: hsla(0, 0%, 16%, 0.85);
  --icon-grey: hsla(0, 0%, 63%, 0.7);
  --icon-text: hsla(0, 0%, 0%, 1);
  --icon-text-grey: hsla(0, 0%, 30%, 1);

  --popup-turquoise: hsl(177, 56%, 61%);
  --popup-green-highlighted: hsl(179, 70%, 32%);
  --popup-green-light: hsl(181, 70%, 32%);
  --popup-green: hsl(181, 64%, 28%);
  --popup-green-grey: 	hsl(185, 38%, 31%);
  --popup-green-dark: 	hsl(180, 41%, 25%);


  --general-background-image-path: url("./assets/dna_background_v2.jpg");
}



//################################################################################
//## utilities
//################################################################################

.unused {
  background: white;
}

body {
    background: var(--back-body);
}

.primary-button {
    color: var(--icon-text);
    background: var(--icon);
    padding: 0.5em;
    border-radius: 1em;
}

.primary-button:hover {
    color: var(--icon-text);
    background: var(--icon-medium-dark);
    padding: 0.5em;
    border-radius: 1em;
}

.quad-button {
    color: var(--icon-text);
    background: var(--icon);
    padding: 0.5em;
    border-radius: 0.3em;
}

.quad-button:hover {
    color: var(--icon-text);
    background: var(--icon-medium-dark);
    padding: 0.5em;
    border-radius: 0.3em;
}

.disabled-button {
    color: var(--icon-text-grey);
    background: var(--icon-grey);
    cursor: not-allowed;
}

.disabled-button:hover {
    color: var(--icon-text-grey);
    background: var(--icon-grey);
    cursor: not-allowed;
}

.small-icon {
    //background: var(--text-block);
    color: var(--icon-dark);
    fill: var(--icon-dark);
    background: none;
}


.medium-icon {
    //background: var(--text-block);
    color: var(--icon-dark);
    fill: var(--icon-dark);
    background: none;
}

.large-icon {
    //background: var(--text-block);
    color: var(--icon-dark);
    fill: var(--icon-dark);
    background: none;
}

.small-icon.icon-container {
  background: none;
  fill: none;
}
.medium-icon.icon-container {
  background: none;
    fill: none;
}
.large-icon.icon-container {
  background: none;
  fill: none;
}

.back-to-entry-page-button {
    background: var(--icon-very-dark);
    fill: var(--icon-very-dark);
}

.back-to-entry-page-button.icon-container {
    fill: var(--icon-very-dark);
}

.to-link-button {
    background: var(--icon-very-dark);
    fill: var(--icon-very-dark);
}

.to-link-button.icon-container {
    fill: var(--icon-very-dark);
}

.to-html-wrapper-button {
    background: var(--icon-very-dark);
    fill: var(--icon-very-dark);
}

.to-html-wrapper-button.icon-container {
    fill: var(--icon-very-dark);
}

div {
    border: none;
}

h1, h2 {
  color: var(--text-title-m);
  -webkit-text-stroke-width: 0.85px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 1);
  mix-blend-mode: normal;
  opacity: 1;
}

h3, h4, h5, h6, p, textarea {
  color: var(--text-block-m);
  //-webkit-text-stroke-width: 1px;
  //-webkit-text-stroke-color: rgba(0, 0, 0, 1);
  //mix-blend-mode: normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity;
  mix-blend-mode: normal;
  opacity: 1;
}

.background {
    background-image: var(--general-background-image-path);
    background-size: "cover";
    background-attachment: "fixed";
}

//################################################################################
//## installation page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.installation-background.background { }

.installation-header {
    color: var(--text-title);
}

.installation-spinning-icon {
    //background: var(--back-main);
    background: none;
}

.installation-spinning-icon.icon-container {
    background: none;
}

.installation-progress {

}


//################################################################################
//## entry page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: var(--back-main);
}

.background { }

.main-columns {
    background: var(--back-main);
}

//################################################################################
//## presentation login column
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.presentation-login-column {
}

.logo-row {
    background: var(--back-third);
}

.presentation-background-logo {
    background: var(--back-main);
}


.login-column {
    background: var(--back-main);
}

.main-title {
  color: var(--text-title);
}

.container-start-button-container-background {
    padding: 0em;
    border-radius: 1em;

    background: var(--icon-medium-dark);
}

.container-start-button { }


//################################################################################
//## message column
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.message-column {
    background: var(--back-second);
}

//.message-column-header { }

.message-container {
    background: var(--back-main);
}

.message-ul {
    background: none;
}

.message-li {
    background: var(--icon);
}

.message-li-selected {
    background: var(--icon-medium-dark);
}


//################################################################################
//## local container page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}


.local-container-page.background {
    //background-image: var(--general-background-image-path);
    background-size: "cover";
    background-attachment: "fixed";
}

.local-container-page.logo-navbar-row {
    background: var(--back-main);
}

.local-container-page.logo-row {
    background: var(--back-third);
}

.local-container-page.large-navbar {
    background: var(--back-third);
}

.local-container-page.content-area {
    background: var(--back-main);
}

.local-container-page.overview-column {
    background: var(--back-second);
}

.local-container-page.description-card.container {
    background: var(--back-very-dark);
    border-radius: 6px;
    border: 2px solid var(--icon);
}

.local-container-page.argument-column {
    background: var(--back-third);
    backdrop-filter: blur(8px);
}

.local-container-page.button-column {
    background: var(--back-second);
}


//################################################################################
//## colony container page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}


.colony-container-page.background { }

.colony-container-page.logo-navbar-row {
    background: var(--back-main);
}

.colony-container-page.logo-row {
    background: var(--back-third);
}

.colony-container-page.large-navbar {
    background: var(--back-third);
}

.colony-container-page.content-area {
    background: var(--back-main);
}

.colony-container-page.overview-column {
    background: var(--back-second);
}

.colony-container-page.description-card.container {
    background: var(--back-very-dark);
    border-radius: 6px;
    border: 2px solid var(--icon);
}

.colony-container-page.argument-column {
    background: var(--back-third);
    backdrop-filter: blur(8px);
}

.colony-container-page.button-column {
    background: var(--back-second);
}


.colony-container-page.configure-self-card.csc-container {
    background: var(--back-very-dark);
    border-radius: 6px;
    border: 2px solid var(--icon);
}

.colony-container-page.file-input.fpi-container { }

.colony-container-page.file-input.title { }

.colony-container-page.file-input.input-field-container { }

.colony-container-page.file-input.input-field { }

.colony-container-page.file-input.request-file-button.container { }

.colony-container-page.file-input.request-file-button.svg { }

//################################################################################
//## general container page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}


.general-container-page.background { }

.general-container-page.logo-navbar-row {
    background: var(--back-main);
}

.general-container-page.logo-row {
    background: var(--back-third);
}

.general-container-page.large-navbar {
    background: var(--back-third);
}

.general-container-page.content-area {
    background: var(--back-main);
}

.general-container-page.overview-column {
    background: var(--back-second);
}

.general-container-page.description-card.container {
    background: var(--back-very-dark);
    border-radius: 6px;
    border: 2px solid var(--icon);
}

.general-container-page.argument-column {
    background: var(--back-third);
    backdrop-filter: blur(8px);
}

.general-container-page.button-column {
    background: var(--back-second);
}


.general-container-page.configure-self-card.csc-container {
    background: var(--back-very-dark);
    border-radius: 6px;
    border: 2px solid var(--icon);
}

.general-container-page.file-input.fpi-container { }

.general-container-page.file-input.title { }

.general-container-page.file-input.input-field-container { }

.general-container-page.file-input.input-field { }

.general-container-page.file-input.request-file-button.container { }

.general-container-page.file-input.request-file-button.svg { }

.general-container-page.overview-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: auto;
}

.general-container-page.container-app-card.container-app-card-container {
    background: var(--back-very-dark);
    border-radius: 4px;
    border: 2px solid var(--icon);
}

.general-container-page.container-app-card.indent-container{
    padding-left: 1rem;
    min-width: 60%;
    width: max-content;
    max-width: 80%;
    padding-right: 1rem;
}

.general-container-page.container-app-card.app-card {
    background: var(--back-second);
    border-radius: 6px;
    border: 2px solid var(--icon);
}

.general-container-page.container-app-card.app-card.selected {
    background: var(--back-very-dark);
    border-radius: 6px;
    border: 2px solid var(--icon);
}

//################################################################################
//## iframe
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.iframe.logo-navbar-row {
    background: var(--back-main);
}

.iframe.logo-row {
    background: var(--back-third);
}

.iframe.large-navbar {
    background: var(--back-third);
}


//################################################################################
//## html-wrapper
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.html-wrapper.logo-navbar-row {
    background: var(--back-main);
}

.html-wrapper.logo-row {
    background: var(--back-third);
}

.html-wrapper.large-navbar {
    background: var(--back-third);
}





//################################################################################
//## remote_dir_test
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.file-picker.logo-navbar-row { }

.file-picker.logo-row { }

.file-picker.large-navbar {
    background: var(--back-third);
}

div.file-picker.dummy-logo {
    background: var(--popup-green-grey);
}

.file-picker.overlay {
    background: hsla(0, 0%, 30%, 0.3);
    backdrop-filter: blur(8px);
}

.file-picker.overlay.hidden { }

.file-picker.file-picker-area {
    background: var(--popup-green-grey);
}

.file-picker.top-row {
    background: var(--popup-green-grey);
}

.file-picker.current-position-container {
    background: var(--popup-green);
}

.file-picker.current-position-filesystem-container { }

.file-picker.file-system-combobox-anchor-container { }

.file-picker.current-position-popup.container {
    background: var(--popup-green-grey);
}

.file-picker.file-system-title {
    background: var(--popup-green-grey);
}

.file-picker.file-system-title.selected {
    background: var(--popup-green-highlighted);
}

.file-picker.current-position-filesystem-title { }

.file-picker.current-filesystem-name-container { }

.file-picker.choose-filesystem-icon-container { }

.file-picker.current-position-widget-directory { }

.file-picker.current-position-widget-directory.clipped { }

.file-picker.current-position-last-path.component { }

.file-picker.current-position-widget-container { }

.file-picker.current-position-go-back-button-container { }

.file-picker.current-position-go-back-button {
    background: black;
    fill: white;
}

.file-picker.current-position-go-forward-button-container { }

.file-picker.current-position-go-forward-button {
    background: black;
    fill: white;
}

.file-picker.current-position-ascend-directory-button-container { }

.file-picker.current-position-ascend-directory-button {
    background: black;
    fill: white;
}

.file-picker.current-position-reload-directory-button-container { }

.file-picker.current-position-reload-directory-button {
    background: black;
    fill: white;
}

.file-picker.current-position-full-path-anchor-container { }

.file-picker.current-position-full-path {
    background: var(--popup-green-grey);
}

.file-picker.choose-layout-icon {
    background: var(--popup-green-grey);
}

.file-picker.display-area-overflow-parent {
    background: var(--popup-green-grey);
}

.file-picker.display-area {
    background: var(--popup-green-grey);
}

div.file-picker.separator { }

.file-picker.filtered-file-area {
    background: var(--popup-green-grey);
}

.background-green {
    background: var(--popup-green-grey);
}

.file-picker.directory-area {
    background: var(--popup-green-grey);
}

.file-picker.other-file-area {
    background: var(--popup-green-grey);
}

div.file-picker { }

.directory-widget.unmarked {
    background: var(--popup-green-dark);
}

.directory-widget.marked {
    background: var(--popup-green-highlighted);
}

.file-widget.unmarked {
    background: var(--popup-green-dark);
}

.file-widget.marked {
    background: var(--popup-green-highlighted);
}

.file-picker.directory-widget.container { }

.file-picker.directory-widget.icon-container.unmarked { }

.file-picker.directory-widget.icon-container.shrunk { }

.directory-widget.descend-icon-area {
    background: var(--popup-green-grey);
}

.directory-widget.name { }

.file-picker.confirm-cancel-button-container {
    background: var(--popup-green-grey);
}

.file-picker.confirm-selection-button.primary-button { }

.file-picker.cancel-selection-button { }


//################################################################################
//## project page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}


.project-page.background { }

.project-page.logo-navbar-row { }

.project-page.logo-row { }

.project-page.navbar-logo { }

.project-page.large-navbar { }





.project-page.content-area {
    background: var(--icon);
}

.project-page.widget-store { }

.project-page.project-area { }

.project-page.title-area { }

.project-page.title { }

.project-page.import-template-button.primary-button { }

.project-page.project-decription-area { }

.project-page.project-description-title { }

.project-page.project-description-text {
    color: var(--icon-text);
}

.project-page.customized-area { }

.project-page.footer-area { }

.project-page.export-button.primary-button { }




.project-page.grid { }

.project-page.grid-element { }

.project-page.measurements-widget-container { }

.project-page.measurements-widget-icon.large-icon.bi.bi-clipboard2-data-fill { }

.project-page.analysis-widget-container { }

.project-page.analysis-widget-icon.large-icon.bi.bi-chevron-double-right { }

.project-page.results-widget-container { }

.project-page.results-widget-icon.large-icon.bi.bi-clipboard2-check-fill { }

.project-page.placeholder { }



