


:root {
  --background-light: #141414;
  --background-dark: #004a6f;

  --text-dark: #333333;
  --text-light: #676868;
  --text-blue: #004a6f;

  --logo-dark: #004a70;
  --logo-light: #1c9cd9;
  --icon-blue: #004a6f;

    // actually used

  --unused: none;
  --back-main: #004a70;
  --back-second: #99ddee;

  --text-title: #88AADD;
  --text-title-shadow-color: #445577;
  //--text-title-shadow-color: #221144; //sharp contrast
  //--text-title-shadow-color: black; //sharp contrast
  --text-title-shadow-color: #445577; // low contrast
  //--text-title-shadow-color-two: black;
    --text-title-shadow: 0.5px 0px var(--text-title-shadow-color),
                      -0.5px 0px var(--text-title-shadow-color),
                      0px 0.5px var(--text-title-shadow-color),
                      0px -0.5px var(--text-title-shadow-color),
                      0.175px 0.175px var(--text-title-shadow-color),
                      -0.175px -0.175px var(--text-title-shadow-color),
                      0.175px -0.175px var(--text-title-shadow-color),
                      -0.175px 0.175px var(--text-title-shadow-color);
//  --text-title-shadow: 0.5px 0px 2px var(--text-title-shadow-color),
//                      -0.5px 0px 1px var(--text-title-shadow-color),
//                      0px 0.5px 1px var(--text-title-shadow-color),
//                      0px -0.5px 1px var(--text-title-shadow-color),
//                      0.175px 0.175px 1px var(--text-title-shadow-color),
//                      -0.175px -0.175px 1px var(--text-title-shadow-color),
//                      0.175px -0.175px 1px var(--text-title-shadow-color),
//                      -0.175px 0.175px 1px var(--text-title-shadow-color);
  --unused: none;
  --text-block: #002244;
  --text-block-shadow-color: #88BBDD;
  --text-block-shadow: 0.5px 0 var(--text-block-shadow-color),
                      -0.5px 0 var(--text-block-shadow-color),
                      0 0.5px var(--text-block-shadow-color),
                      0 -0.5px var(--text-block-shadow-color),
                      0.175px 0.175px var(--text-block-shadow-color),
                      -0.175px -0.175px var(--text-block-shadow-color),
                      0.175px -0.175px var(--text-block-shadow-color),
                      -0.175px 0.175px var(--text-block-shadow-color);
  --unused: none;
  --icon: #1c9cd9;
  --icon-dark: #99DDFF;
  --icon-text: #141414;
//  --icon-text-shadow-color: #000000;
//  --icon-text-shadow: 2px 0 var(--icon-text-shadow-color),
//                      -2px 0 var(--icon-text-shadow-color),
//                      0 2px var(--icon-text-shadow-color),
//                      0 -2px var(--icon-text-shadow-color),
//                      1px 1px var(--icon-text-shadow-color),
//                      -1px -1px var(--icon-text-shadow-color),
//                      1px -1px var(--icon-text-shadow-color),
//                      -1px 1px var(--icon-text-shadow-color);
--unused: none;
  --icon-grey: #82AABB;
  --icon-text-grey: #444444;
//  --icon-text-grey-shadow-color: #333333;
//  --icon-text-grey-shadow: 2px 0 var(--icon-text-grey-shadow-color),
//                      -2px 0 var(--icon-text-grey-shadow-color),
//                      0 2px var(--icon-text-grey-shadow-color),
//                      0 -2px var(--icon-text-grey-shadow-color),
//                      1px 1px var(--icon-text-grey-shadow-color),
//                      -1px -1px var(--icon-text-grey-shadow-color),
//                      1px -1px var(--icon-text-grey-shadow-color),
//                      -1px 1px var(--icon-text-grey-shadow-color);
  --unused: none;
}



//################################################################################
//## included when feature clrHue is active
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: var(--back-main);
}

body {
    background: var(--back-main);
}
.background { }

.main-columns {
    background: var(--back-main);
}

//################################################################################
//## presentation login column
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.presentation-login-column {
}

.logo-row {
    background: var(--back-second);
}

.presentation-background-logo {
    background: var(--back-main);
}


.login-column {
    background: var(--back-main);
}

.main-title {
  color: var(--text-title);
}

.container-start-button { }

//################################################################################
//## message column
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.message-column {
    background: var(--back-second);
}

.message-column-header { }

.message-container {
    background: var(--back-main);
}

.message-ul {
    background: none;
}

.message-li {
    background: var(--icon);
}

.message-li-selected {
    background: var(--icon-dark);
}


//################################################################################
//## installation page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}

.installation-background {
    color: var(--back-main);
}

.installation-header {
    color: var(--text-title);
}

.installation-spinning-icon {
    //background: var(--back-main);
    background: none;
}

.installation-spinning-icon.icon-container {
    background: none;
}

.installation-progress {

}

//################################################################################
//## local container page
//################################################################################

.unused {
    // dioxus bug: first selection after a section divider is not being applied
    background: white;
}


.local-container-page.background {
    background: var(--back-main);
}

.local-container-page.logo-navbar-row {
    background: var(--back-main);
}

.local-container-page.logo-row {
    background: var(--back-second);
}

.local-container-page.large-navbar {
    background: var(--back-second);
}

.local-container-page.content-area {
    background: var(--back-main);
}

.local-container-page.overview-column {
    background: var(--back-second);
}

.local-container-page.description-card.container {
    background: var(--back-main);
}

.local-container-page.argument-column {
    background: var(--back-second);
}

.local-container-page.button-column {
    background: var(--back-second);
}

//################################################################################
//## utilities
//################################################################################

.unused {
  background: white;
}

.primary-button {
    color: var(--icon-text);
    background: var(--icon);
    padding: 0.5em;
    border-radius: 1em;
}

.disabled-button {
    color: var(--icon-text-grey);
    background: var(--icon-grey);
    cursor: not-allowed;
}

.small-icon {
    //background: var(--text-block);
    color: var(--icon);
    fill: var(--icon);
}


.medium-icon {
    //background: var(--text-block);
    color: var(--icon);
    fill: var(--icon);
}

.large-icon {
    //background: var(--text-block);
    color: var(--icon);
    fill: var(--icon);
}

.small-icon.icon-container {
  background: none;
  fill: none;
}
.medium-icon.icon-container {
  background: none;
    fill: none;
}
.large-icon.icon-container {
  background: none;
  fill: none;
}

.installation-spinning-icon {
    color: var(--icon-dark);
    fill: var(--icon-dark);
    background: none;
}

// reset a debug-mode preset
div {
    border: none;
}

h1, h2, h3 {
  font-family: "Yarndings 20 Charted";

  color: var(--text-title);
//  text-shadow: 0.5px 0px 1px var(--text-title-shadow-color),
//                      -0.5px 0px 0.5px var(--text-title-shadow-color),
//                      0px 0.5px 0.5px var(--text-title-shadow-color),
//                      0px -0.5px 0.5px var(--text-title-shadow-color),
//                      0.35px 0.35px 0.5px var(--text-title-shadow-color),
//                      -0.35px -0.35px 0.5px var(--text-title-shadow-color),
//                      0.35px -0.35px 0.5px var(--text-title-shadow-color),
//                      -0.35px 0.35px 0.5px var(--text-title-shadow-color),
//                      0.5px 0px 1px black,
//                      -0.5px 0px 1px black,
//                      0px 0.5px 1px black,
//                      0px -0.5px 1px black,
//                      0.35px 0.35px 1px black,
//                      -0.35px -0.35px 1px black,
//                      0.35px -0.35px 1px black,
//                      -0.35px 0.35px 1px black;

//  text-shadow: 0.5px 0px 1px var(--text-title-shadow-color),
//                      -0.5px 0px 0.0px var(--text-title-shadow-color),
//                      0px 0.5px 0.0px var(--text-title-shadow-color),
//                      0px -0.5px 0.0px var(--text-title-shadow-color),
//                      0.35px 0.35px 0.0px var(--text-title-shadow-color),
//                      -0.35px -0.35px 0.0px var(--text-title-shadow-color),
//                      0.35px -0.35px 0.0px var(--text-title-shadow-color),
//                      -0.35px 0.35px 0.0px var(--text-title-shadow-color),
//                      0.5px 0px 0px black,
//                      -0.5px 0px 0px black,
//                      0px 0.5px 0px black,
//                      0px -0.5px 0px black,
//                      0.35px 0.35px 0px black,
//                      -0.35px -0.35px 0px black,
//                      0.35px -0.35px 0px black,
//                      -0.35px 0.35px 0px black;

  text-shadow: 0.5px 0.0px 0.0px var(--text-title-shadow-color),
                -0.5px 0.0px 0.0px var(--text-title-shadow-color),
                0.0px 0.5px 0.0px var(--text-title-shadow-color),
                0.0px -0.5px 0.0px var(--text-title-shadow-color),
                0.25px 0.25px 0.0px var(--text-title-shadow-color),
                -0.25px -0.25px 0.0px var(--text-title-shadow-color),
                0.25px -0.25px 0.0px var(--text-title-shadow-color),
                -0.25px 0.25px 0.0px var(--text-title-shadow-color),

                0.8px 0.0px 0.0px rgba(0,0,0,0.4),
                -0.8px 0.0px 0.0px rgba(0,0,0,0.4),
                0.0px 0.8px 0.0px rgba(0,0,0,0.4),
                0.0px -0.8px 0.0px rgba(0,0,0,0.4),
                0.4px 0.4px 0.0px rgba(0,0,0,0.4),
                -0.4px -0.4px 0.0px rgba(0,0,0,0.4),
                0.4px -0.4px 0.0px rgba(0,0,0,0.4),
                -0.4px 0.4px 0.0px rgba(0,0,0,0.4),

                1.5px 0.0px 0.0px rgba(0,0,0,0.6),
                -1.5px 0.0px 0.0px rgba(0,0,0,0.6),
                0.0px 1.5px 0.0px rgba(0,0,0,0.6),
                0.0px -1.5px 0.0px rgba(0,0,0,0.6),
                0.8px 0.8px 0.0px rgba(0,0,0,0.6),
                -0.8px -0.8px 0.0px rgba(0,0,0,0.6),
                0.8px -0.8px 0.0px rgba(0,0,0,0.6),
                -0.8px 0.8px 0.0px rgba(0,0,0,0.6);


}

h4, h5, h6, p {
  color: var(--text-block);
  text-shadow: var(--text-block-shadow);
//text-shadow: 2px 0 var(--text-block-shadow-color),
//                      -2px 0 var(--text-block-shadow-color),
//                      0 2px var(--text-block-shadow-color),
//                      0 -2px var(--text-block-shadow-color),
//                      1px 1px var(--text-block-shadow-color),
//                      -1px -1px var(--text-block-shadow-color),
//                      1px -1px var(--text-block-shadow-color),
//                      -1px 1px var(--text-block-shadow-color);
}












